* {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  font-size: 11pt;
  font-weight: 600;
  user-select: none;
}

body {
  background: #d0d0d0;
  min-height: 100vh;
  overflow: hidden;
}

.point {
  width: 7px;
  height: 7px;
  background: black;
  position: absolute;
  transition: 0.8s;
}

@keyframes fade-out {
  100% {
    transform: translateY(70px) scale(0.4);
    opacity: 0;
  }
}

#menu {
  position: fixed;
  top: 20px;
  right: 20px;
  padding: 27px 20px;
  border-radius: 30px;
  background: rgba(208, 208, 208, 0.421);
  backdrop-filter: blur(4px);
  box-shadow: 3px 2px 10px rgba(0, 0, 0, 0.349);
  z-index: 999;
  transition: 0.3s linear;
  margin-inline: auto;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
  margin-block: 11px;
}

.rowText {
  font-size: 11pt;
}

.x {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 11px;
}

.iconBtn {
  border: none;
  background: transparent;
  transition: 0.4s;
  cursor: pointer;
}

.iconBtn:hover {
  transform: scale(1.2);
}

.icon {
  max-height: 30px;
  width: auto;
}

#menuBtn {
  position: fixed;
  top: 20px;
  transition: 0.3s linear;
  right: -40px;
  z-index: 1000;
}

input:not(#pointImage) {
  background: transparent;
  border: 1px black solid;
  border-radius: 5px;
  backdrop-filter: blur(10px);
  max-width: 40px;
  outline: none;
}

input[type="number"] {
  padding: 6px;
}

.pointImgLabel {
  background: transparent;
  border: 1px black solid;
  cursor: pointer;
  padding: 6px;
  border-radius: 5px;
  transition: 4s;
  backdrop-filter: blur(10px);
}

.pointImgLabel:hover {
  transform: scale(1.06);
}

.hidden {
  display: none;
}

.centerRow {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-block: 11px;
}

.clearBtn {
  background: transparent;
  border-radius: 5px;
  border: 1px black solid;
  padding: 6px;
  cursor: pointer;
  backdrop-filter: blur(10px);
  transition: .4s;
}

.clearBtn:hover {
  transform: scale(1.04);
}